.loginForm {
    width: 300px;
    margin: auto;
}

.info {
    margin-top: 300px;
}

.restList {
    width: 600px;
    margin: auto;
    margin-top: 200px
}

.table {
    margin: 50px;
    border: 1px solid black;
}