*{
    font-family: 'Szlichta';
}

.loginForm {
    width: 300px;
    margin: auto;
}

.info {
    margin-top: 300px;
}

.restList {
    width: 600px;
    margin: auto;
    margin-top: 200px
}

.font-szlichta {
    font-family: "Szlichta";
  }
  
  
  @font-face {
    font-family: Szlichta;
    src: url('../../public/fonts/Szlichta.ttf') format('ttf'),
      url('../../public/fonts/Szlichta.woff') format('woff');
  }